body{
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
    background-color: White;
    
    margin: 0;
    padding: 0;
}

#page{
    background-color: #e0e8e6;
    width: 966px;
    margin: 0 auto;
    color: #3e4946;
}

.invisible{
    position: absolute;
    left: -9999em;
}