#pageHeader{
    background-image: url(img/header.jpg);
    height: 110px;
        
    nav{
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 1px;
        text-align: right;
        width: 100%;
        
        a{
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 18px;
            border-left: 1px solid rgba(0, 0, 0, 0.9);
            display: inline-block;
            margin-top: 30px;

        }
        
        a.last{
            border-right: 1px solid rgba(0, 0, 0, 0.9);
            margin-right: 35px;
        }
    
        a.home{
            border: none;
            float: left;
            width: 160px;
            margin: 30px 0 0 30px;
        }
    
    }
}

#pageTeaser {
    
    &.terminate{
        background: url(img/header-line.gif);
        height: 29px;
        margin: -20px 0 0 0;
    }
    
    &.claim{
        background-image: url(img/header.jpg);
        background-position: left bottom;
        clear: both;
        padding: 10px 0 125px 0;
    
        h1{
            span{
                display: inline-block;
                margin: 0 0 5px 0;
                padding: 0 5px;
                color: White;
                font-size: 30px;
                font-weight: normal;
                line-height: 42px;
                background-color: rgba(0, 0, 0, 0.8);
            }
        
            span.quote{
                padding: 0;
                width: 20px;
                height: 20px;
                position: absolute;
            }
        
            span.quote-tl{
                background: url(img/quote-tl.gif) top left no-repeat;
                margin: -10px 0 0 -20px;
            }
        
            span.quote-tr{
                background: url(img/quote-tr.gif) top right no-repeat;
                margin: -10px 0 0 0;
            }
        
            span.line1{ margin-left: 55px; }
            span.line2{ margin-left: 60px; }
            span.line3{ margin-left: 75px; }
        }
    }
}