/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: "HelveticaNeue-Light", Helvetica, sans-serif;
  background-color: White;
  margin: 0;
  padding: 0; }

#page {
  background-color: #e0e8e6;
  width: 966px;
  margin: 0 auto;
  color: #3e4946; }

.invisible {
  position: absolute;
  left: -9999em; }

#pageHeader {
  background-image: url(img/header-sticky.jpg);
  height: 110px; }

#pageHeader nav {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: right;
  width: 100%; }

#pageHeader nav a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 18px;
  border-left: 1px solid rgba(0, 0, 0, 0.9);
  display: inline-block;
  margin-top: 30px; }

#pageHeader nav a.last {
  border-right: 1px solid rgba(0, 0, 0, 0.9);
  margin-right: 35px; }

#pageHeader nav a.home {
  border: none;
  float: left;
  width: 160px;
  margin: 30px 0 0 30px; }

#pageTeaser.terminate {
  background: url(img/header-line.gif);
  height: 29px;
  margin: -20px 0 0 0; }

#pageTeaser.claim {
  background-image: url(img/header-sticky.jpg);
  background-position: left bottom;
  clear: both;
  padding: 30px 0 155px 0; }

#pageTeaser.claim #downloadRelease {
  float: right;
  display: block;
  text-align: center;
  width: 225px;
  height: 80px;
  margin: 100px 10px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #77a440;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  text-decoration: none; }

#pageTeaser.claim h1 span {
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 0 5px;
  color: White;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  background-color: rgba(0, 0, 0, 0.8); }

#pageTeaser.claim h1 span.quote {
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute; }

#pageTeaser.claim h1 span.quote-tl {
  background: url(img/quote-tl.gif) top left no-repeat;
  margin: -10px 0 0 -20px; }

#pageTeaser.claim h1 span.quote-tr {
  background: url(img/quote-tr.gif) top right no-repeat;
  margin: -10px 0 0 0; }

#pageTeaser.claim h1 span.line1 {
  margin-left: 75px; }

#pageTeaser.claim h1 span.line2 {
  margin-left: 80px; }

#pageTeaser.claim h1 span.line3 {
  margin-left: 95px; }

#eventBox {
  width: 405px;
  background-color: white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-top: -120px;
  font-size: 14px;
  line-height: 18px; }

#eventBox h2 {
  background-color: #96ca0d;
  padding: 8px 0 8px 45px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  margin: 0 0 10px 0; }

#eventBox div {
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 10px 0 0 0; }

#eventBox div h3 {
  font-weight: bold;
  display: inline;
  font-size: 1em; }

#eventBox div p {
  display: inline; }

#eventBox div a.date {
  float: left;
  text-align: left;
  font-size: 12px;
  color: #96ca0d;
  text-decoration: none;
  line-height: 13px;
  margin: -10px 10px 0 0;
  display: inline-block; }

#eventBox div a.date strong {
  display: block;
  background-color: #96ca0d;
  font-size: 30px;
  font-weight: normal;
  color: white;
  line-height: 30px;
  width: 35px;
  text-align: center; }

#pageContent {
  padding: 0 38px 38px 38px;
  font-size: 17px;
  line-height: 24px; }

#pageContent h1 {
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  margin: 0.5em 0 0.3em 0; }

#pageContent h1 a {
  color: black;
  text-decoration: none; }

#pageContent p {
  margin: 1em 0; }

#pageFooter {
  border-top: 10px solid white;
  padding: 20px;
  background-color: #eff3f2; }
