<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>    
    <link rel="stylesheet" href="{{ STATIC_URL }}theme/base.css" type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body>
    

{% if messages %}
<ul id="messages">
{% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div id="page">
{% block page %}
    <div id="pageHeader">
        <nav>
            <a href="{% url homepage %}" class="home"><span class="invisible">Django-DE</span></a>
            <a href="{% url homepage %}" class="first">Home</a>
            <a href="/Informationen">Infos</a>
            <a href="/Neuigkeiten">News</a>
            <a href="/Verein">Verein</a>
            <a href="/Jobs" class="last">Jobs</a>
        </nav>
    </div>
            
    {% block teaser %}
    <div id="pageTeaser" class="terminate">
    </div>
    {% endblock %}
        
    <div id="pageContent">
        {% block content %}
            {% load webdesign %}
            {% lorem 6 p %}
        {% endblock %}
    </div>
    
    <div id="pageFooter">
        {% block footer %}{% endblock %}
    </div>
{% endblock %}
</div>
</body>
</html>