{% extends "base.html" %}

{% block teaser %}
<header id="pageTeaser" class="claim">
    <h1>
        <span class="line1"><span class="quote quote-tl"></span>Django ist ein Python-Web-Framework</span><br/>
        <span class="line2">für die schnelle Entwicklung von</span><br/>
        <span class="line3">sauberen, pragmatischen Lösungen.<span class="quote quote-tr"></span></span>
    </h1>
</header>
{% endblock %}

{% block content %}
    <div id="eventBox">
        <h2>Termine</h2>
        
        <div>
            <a href="#" class="date">Aug<strong>26</strong></a>
            <h3>Django usergroup Hamburg</h3>
            <p>Die Usergroup trifft sich wieder im alten Speicher St. Pauli.</p>
        </div>
        <div>
            <a href="#" class="date">Aug<strong>26</strong></a>
            <h3>Django usergroup Berlin</h3>
            <p>Die Usergroup trifft sich wieder im alten Speicher St. Pauli.</p>
        </div>
        <div>
            <a href="#" class="date">Aug<strong>26</strong></a>
            <h3>Django usergroup Hamburg</h3>
            <p>Die Usergroup trifft sich wieder im alten Speicher St. Pauli.</p>
        </div>
    </div>
{% endblock %}